@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @await Html.PartialAsync("_Favicons")
        <link href="/css/bundle.css" rel="stylesheet"/>
        @await RenderSectionAsync("styleOverrides", required: false)

    </head>
    <body>
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
        <script src="/js/bundle.js"></script>
        @await RenderSectionAsync("scripts", required: false)
    </body>
</html>