:root {
    --primary-bg-color: #FEFAE0;
    --body-text-color: #D4A373;
    --primary-accent-color: #CCD5AE;
    --secondary-accent-color: #D4A373;
    --dark-text-color: #D4A373;
    --section-bg-color: #E9EDC9;
    --divider-color: #D4A373;
    --neutral-accent-color: #CCD5AE;
    --soft-divider-color: #D4A373;
    --muted-accent-color: #D4A373;
    --dark-section-bg-color: #E9EDC9;
    --input-text-color: #D4A373;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--primary-bg-color);
    color: var(--body-text-color);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.forum-right-side {
    overflow-x: hidden;
    overflow-y: auto;
    height: 85vh;
}

.post-title {
    background-color: var(--primary-accent-color);
    color: var(--dark-text-color);
    margin-bottom: 10px;
    font-weight: bold;
    padding: 3px 8px;
}

.post-body-notch-top {
    margin-top: -14px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
    margin-left: auto;
    margin-right: auto;
}

.post-body-notch-bottom {
    margin-top: -9px;
    width: 20px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
    margin-left: auto;
    margin-right: auto;
}

.post-body {
    background-color: var(--section-bg-color);
    padding: 5px 10px 20px 10px;
}

.post-author {
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--divider-color);
}

.post-author-link {
    color: var(--secondary-accent-color);
}

.post-author-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-message {
    padding: 20px 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.post-reply-button {
    margin-top: 8px;
    padding-bottom: 4px;
    padding-top: 15px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--divider-color);
}

.no-click-text {
    color: var(--secondary-accent-color);
}

.link-text {
    text-decoration: none;
    color: var(--secondary-accent-color);
}

.link-text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--secondary-accent-color);
}

a.link-text {
    text-decoration: none;
    color: var(--secondary-accent-color);
}

a.link-text:focus {
    text-decoration: none;
    color: var(--neutral-accent-color);
}

a.link-text:focus:hover {
    text-decoration: underline;
    color: var(--secondary-accent-color);
}

a.link-text:visited {
    color: var(--neutral-accent-color);
}

a.link-text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--secondary-accent-color);
}

.link-text:focus {
    color: var(--secondary-accent-color);
}

.search-bar {
    margin-left: 10px;
    padding: 0 5px;
    min-width: 240px;
}

.all-threads-header {
    margin-top: 15px;
    padding-bottom: 3px;
}

.focus-square-placeholder {
    margin-right: 10px;
    background-color: var(--primary-bg-color);
    height: 7px;
    width: 7px;
    display: inline-block;
}

.focus-square {
    margin: 7px 10px 1px 0;
    padding-bottom: 2px;
    background-color: var(--neutral-accent-color);
    height: 7px;
    width: 7px;
    display: inline-block;
    border-bottom-width: 2px;
}

.thread-underline-gold {
    border-bottom-color: var(--primary-accent-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.thread-header {
    padding-top: 1px;
}

.thread-underline {
    border-bottom-color: var(--neutral-accent-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.thread-footer {
    margin-top: 15px;
}

.pad-left-0 {
    padding-left: 0;
}

.pad-left-1 {
    padding-left: 15px;
}

.pad-left-2 {
    padding-left: 30px;
}

.pad-left-3 {
    padding-left: 45px;
}

.pad-left-4 {
    padding-left: 60px;
}

.pad-left-5 {
    padding-left: 75px;
}

.pad-left-6 {
    padding-left: 90px;
}

.pad-left-7 {
    padding-left: 105px;
}

.pad-left-8 {
    padding-left: 120px;
}

.pad-left-9 {
    padding-left: 145px;
}

.pad-left-10 {
    padding-left: 160px;
}

.pad-left-11 {
    padding-left: 175px;
}

.pad-left-12 {
    padding-left: 180px;
}

.pad-left-13 {
    padding-left: 195px;
}

.pad-left-14 {
    padding-left: 210px;
}

.pad-left-15 {
    padding-left: 225px;
}

.pad-left-16 {
    padding-left: 240px;
}

.pad-left-17 {
    padding-left: 255px;
}

.pad-left-18 {
    padding-left: 270px;
}

.pad-left-19 {
    padding-left: 285px;
}

.pad-left-20 {
    padding-left: 300px;
}

.selected-post-square {
    margin: 7px 5px 1px 0;
    padding-bottom: 2px;
    background-color: var(--secondary-accent-color);
    height: 6px;
    width: 6px;
    display: inline-block;
    border-bottom-width: 2px;
}

.post-square {
    margin: 7px 5px 1px 0;
    padding-bottom: 2px;
    height: 6px;
    width: 6px;
    display: inline-block;
    border-bottom-width: 2px;
}

.post-square-2 {
    display: inline-block;
    width: 8px;
    height: 10px;
}

.post-square-2-inner {
    width: 12px;
    height: 21px;
    margin-top: -6px;
}

.tree-line-vertical {
    position: absolute;
    height: 100%;
    display: inline-block;
    margin-left: 3px;
    border-left-style: solid;
    border-left-color: var(--soft-divider-color);
    border-left-width: 1px;
}

.tree-line-vertical-half {
    position: absolute;
    height: 12px;
    display: inline-block;
    margin-left: 3px;
    border-left-style: solid;
    border-left-color: var(--soft-divider-color);
    border-left-width: 1px;
}

.tree-line-horizontal {
    position: absolute;
    border-bottom-style: solid;
    border-bottom-color: var(--soft-divider-color);
    border-bottom-width: 1px;
    width: 12px;
    margin-top: 11px;
    margin-left: 3px;
}

.tree-selected {
    position: absolute;
    display: inline-block;
    margin-left: 12px;
    height: 7px;
    width: 7px;
    background-color: var(--secondary-accent-color);
    margin-top: 8px;
}

.post-input-form {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.new-post-header {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--muted-accent-color);
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.new-post-logged-in-message {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--muted-accent-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post-label {
    margin-top: 4px;
    margin-bottom: 2px;
}

.post-input {
    width: 100%;
    padding: 1px 5px 1px 5px;
    background-color: var(--dark-section-bg-color);
    border-style: none;
    color:var(--input-text-color)
}

.post-message-input {
    width: 100%;
    height: 300px;
    padding: 1px 5px 1px 5px;
    background-color: var(--dark-section-bg-color);
    border-style: none;
    color: var(--input-text-color)
}

.register-user-error {
    padding-top: 10px;
    padding-bottom: 6px;
}

.create-account-button {
    padding-top: 10px;
}

.forum-warning {
    border-style: none;
    background-color: var(--section-bg-color);
    color: var(--body-text-color);
}

.dismiss-error-button {
    cursor: pointer;
}

.truncate-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

.reset-password-link {
    display: block;
    margin-bottom: 5px;
}

.verify-email-password-link {
    display: block;
}

.no-wrap {
    white-space: nowrap;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

a {
    color: var(--secondary-accent-color)
}
